<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.spring.service" />


    <!-- 1 Spring之JdbcTemplate -->
    <!--1.1 创建一个数据源对象 原生DriverManager 获取一个连接-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <!--数据库驱动类-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--连接数据库的URL-->
        <property name="url" value="jdbc:mysql://localhost:3306/mysql_test?useSSL=false&amp;characterEncoding=UTF-8"/>
        <!--连接数据库的账号名-->
        <property name="username" value="root"/>
        <!--连接数据库的密码-->
        <property name="password" value="lzb123456"/>
    </bean>

    <!--1.2 想要使用SpringJDBC提供的操作 需要配置一个JDBC模板 JdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <!--需要给当前这个template对象配置一个数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 2 Spring事务 -->
    <!--2.1 配置事务管理器，依赖于数据源-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--2.2 注册事务管理器驱动，开启事务注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>